.nav {
  background-color: #1C1A19;
  padding: 21px 50px 21px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 269px;
}

.nav__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 20px;
  text-decoration: none;
}

img {
  max-width: 100%;
}
